/* General */
html { overflow-y: scroll; }
#dev-info { color: #FFFFFF; border: #ff0000; border-style: dashed; width: 23%; display: none; }
.assistive-element{ display: none; }
img { border: none; max-width: 100%; height: auto; }
body{ background:url(../custom-images/wood-background.jpg) repeat; padding-top:20px; }
@media print { html, body { display: none; } }

/* Design elements */
#page-container { width: 958px; margin-left: auto; margin-right: auto; }
#book-top { background:url(../custom-images/book-top.png) no-repeat; height: 31px; margin-left: 14px; }
#book-middle-container { display: table; }
#book-left { background:url(../custom-images/book-left-fill.png); background-repeat: repeat-y; background-position: 14px 0px;width: 62px; display: table-cell; }
#book-left-inner { background:url(../custom-images/book-left-ring.png); width: 62px; min-height: 504px /*504px*/; margin-top: 240px; margin-bottom: 50px; }
#content-container { background-image:url(../custom-images/book-background.png); background-color: #292929; width: 892px; height: 580px; display: table-cell; vertical-align: top; }
#book-right { background:url(../custom-images/book-right-fill.png); background-repeat: repeat-y; width: 4px; min-height: 641px;  display: table-cell; }
#book-bottom { background:url(../custom-images/book-bottom.png) no-repeat; height: 35px; margin-left: 14px; }
#pen { background:url(../custom-images/pen.png); width: 79px; min-height: 427px; position: absolute; right: 5%; top:150px; z-index:-1; }
#logo { float: left; margin-left: 20px; margin-right: 20px; margin-top: 30px; margin-bottom: 25px; }
#logo-course { float: left; margin-left: 20px; margin-right: 20px; margin-top: 20px; margin-bottom: 20px; }
#logo-course-parent { float: right; margin-right: 20px; margin-top: 20px; margin-bottom: 34px; }
.content-area { float: left; font-family:Arial, Helvetica, sans-serif; font-size: 12px; line-height:1.6; color:#FFFFFF; margin-left:25px; margin-right: 25px; clear: both; }
.content-area a { color: #3399cc; text-decoration: none; }
#value-statement-header { clear: both; float: left; width: 100%; text-align: center; margin-top: 15px; }
#value-statement-header h2 { padding-left: 10px; padding-right: 10px;}
#value-statements { clear: both; display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: center; justify-content: center; -webkit-align-items: flex-start; align-items: flex-start; }
.value-statement-block { width: 270px; float: left; margin-left: 10px; margin-right: 10px; margin-top: 12px; margin-bottom: 20px; text-align: center; font-family:Arial, Helvetica, sans-serif; font-size: 12px; line-height:1.6; color:#FFFFFF; }
.value-statement-block i { margin-bottom: 5px; }
#course-menus { clear: both; display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: center; justify-content: center; -webkit-align-items: flex-start; align-items: flex-start; }
.course-menu-container { width: 270px; float: left; margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 20px; }
.course-menu-container-switch { width: 270px; float: left; margin-left: 25px; margin-top: 10px; }
.course-menu-top {  background-color: #FFFFFF; padding-left: 10px; padding-right: 10px; padding-bottom: 2px; padding-top: 9px; }
.course-menu-content { background-color:#FFFFFF; font-size:14px; }
.course-menu-footer { background: url(../custom-images/paper-bottom-edge-1.png); height: 33px; }
.course-menu-item{ padding: 5px; border-top:1px solid #b8d7df; font-family:"Courier New", Courier, monospace; line-height: 1.6; }
.course-menu-item a { color:#000000; text-decoration:none; font-size:16px; }
#level-switch-menu { margin-left: 20px; float:left; margin-bottom: 37px; }
#level-switch-menu-item1 { float: left; margin-left: 40px; }
#level-switch-menu-item2 { float: left; clear: left; }
#level-switch-menu-item3 { float: left; }
#level-switch-menu-item1 img { margin-top: -8px; }
#page-switch-menu-container { background:url(../custom-images/page-switch-menu-fill.png) repeat-x; height: 57px; width:716px; float:right; margin-right:-11px; margin-top: 6px; margin-bottom: 40px; }
#page-switch-menu-left { background:url(../custom-images/page-switch-menu-left.png); width: 14px; height: 57px; display: inline; float: left; margin-left: -14px; }
#page-switch-menu-inner { margin-top: 18px; display: inline; float: left; }
#page-switch-menu-right { background:url(../custom-images/page-switch-menu-right.png); width: 13px; height: 66px; display: inline; float: right; margin-top: -9px; margin-right: -4px; }
.page-switch-menu-seperator { background:url(../custom-images/page-switch-menu-seperator.png); width: 5px; height: 22px; display: inline; float: left; }
.page-switch-menu-item { display: inline; float: left; margin-left: 33px; margin-right: 33px;font-size: 16px; font-family: Arial, Helvetica, sans-serif; }
.page-switch-menu-item a { color: #FFFFFF; text-decoration: none; text-shadow: 1px 1px #000000; }
.page-switch-menu-item img { margin-left:32px; }
.active a { color: #292929; text-shadow: 1px 1px #898989; }
#order-progress-bar { clear: both; display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: center; justify-content: center; -webkit-align-items: flex-start; align-items: flex-start; margin-bottom: 30px; }
#order-progress-bar div { float: left; }
#section-1 { width: 30%; }
#section-2 { width: 18%; }
#section-3 { width: 17%; }
#section-4 { width: 20%; }
.order-progress-bar-item { margin-top: 4px; margin-left: 5px; /*margin-right: 95px;*/ font-size: 12px; font-family: Arial, Helvetica, sans-serif; }
.item-state-1 { color: #FFFFFF; }
.item-state-0 { color: #999999; }
#course-page-left { clear: both; width: 295px; float: left; }
#account-page-left { clear: both; width: 295px; float: left; }
#page-content-container { float: left; margin-top: 10px; margin-left: 20px; width: 543px; }
#page-content-top { background: #FFFFFF; padding-left: 10px; padding-right: 10px; padding-bottom: 2px; padding-top: 9px; }
#page-content-bottom { background:url(../custom-images/paper-bottom-edge-3.png); height: 32px; }
.clearfix-container { clear: both; }
#practice-exams-container { clear: both; display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: space-between; justify-content: space-between; -webkit-align-items: flex-start; align-items: flex-start; }
.practice-exam-block { width: 260px; float: left; margin-top: 25px; }
.practice-exam-content { background-color:#FFF; font-size:14px; padding: 10px; width: 240px; }
.practice-exam-footer { background: url(../custom-images/paper-bottom-edge-1.png); height: 33px; }
.practice-exam-item { padding: 5px; border-top: 1px solid #b8d7df; font-family:"Courier New", Courier, monospace; }
.practice-exam-item a { color:#3399cc; text-decoration:none; font-size:16px; }
#newsletter-container { margin-left: 25px; clear: both; }
#social-media-container { margin-left:25px; clear: both; }
#social-media-container-left { float: left; }
.social-media-icon { margin-right: 10px; margin-top: 20px; }
#footer { font-size:17px; font-family:Arial, Helvetica, sans-serif; text-align: center; padding-top: 5px; line-height: 1.6; }
#footer a { color:#000; text-decoration:none; border-bottom:1px dotted #000; }
.paper-writing { background:url(../custom-images/writing-paper-seperator.png); line-height:2.5; padding:18px; padding-top:2px; font-family:Arial, Helvetica, sans-serif; font-size: 12px;}
.paper-writing a { color: #3399cc; text-decoration: none; }
.paper-writing p { margin: 0px; }
.paper-writing ul { margin: 0px; }
.paper-writing h2 { line-height: 2.35; }
.header-image { padding-bottom: 16px; margin-right: -2px; }
.product-row { clear: both; display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: flex-start; justify-content: flex-start; -webkit-align-items: center; align-items: center; line-height: 30px; }
.product-list-item { margin-right: 10px; }
.product-list-price { margin-left: auto; margin-right: 10px; }
#product-list-item-total { margin-left: auto; margin-right: 20px; font-weight: bold; } 
#product-list-price-total { margin-right: 10px; font-weight: bold; } 
#product-list-next-discount { margin-left: auto; margin-right: 10px; font-weight: bold; color: #00B93A; }
.product-checkbox { height: 24px; margin-right: 10px; }
.form-label { clear: left; float: left; color: #555555; text-align: right; background-color: #eeeeee; border: 1px solid #cccccc; width: 100px; padding: 3px 8px; font-size: 12px; height: 18px; line-height: 1.6; border-right: 0; margin-bottom: 4px; border-radius: 3px; border-top-right-radius: 0; border-bottom-right-radius: 0 }
.form-label-2 { clear: left; float: left; color: #555555; text-align: right; background-color: #eeeeee; border: 1px solid #cccccc; padding: 3px 8px; font-size: 14px; height: 34px; line-height: 1.6; border-right: 0; margin-bottom: 4px; border-radius: 3px; border-top-right-radius: 0; border-bottom-right-radius: 0 }
.form-label-3 { text-align: center; font-size: 14px; margin-bottom: 3px; }
.form-text { float: left; color: #555555; background-color: #ffffff; border: 1px solid #cccccc; width: 270px; padding: 3px 8px; font-size: 12px; height: 18px; line-height: 1.6; border-radius: 3px; border-top-left-radius: 0; border-bottom-left-radius: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
.remove-left-rounding { border-top-left-radius: 0; border-bottom-left-radius: 0; }
.control-disabled { background-color: #E4FFF4; }
.form-text:focus { border-color: #66afe9; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6); }
.auto-size { width: auto !important }
.inputform { margin-left: 40px; }
.error { border-color: #a94442; -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075); box-shadow: inset 0 1px 1px rgba(0,0,0,.075); }
#terms { clear: left; float:left; margin-top: 7px; margin-left: 120px; }
#terms-error { margin-top: -3px; margin-right: 3px; }
#terms-label { display: inline; float: left; margin-top: -1px; margin-bottom: 32px; }
#firstname-error, #lastname-error, #locality-error, #street_number-error, #route-error, #postal_code-error, #customerInformationEmail-error, #terms-error { float: left; color:#FF0000; line-height: 34px; }
.paper-writing iframe { border: 0px; }
#payment-logos { display: inline; margin-left: 70px;  }
.payment-logo { vertical-align: middle; margin-left: 3px; margin-right: 3px; height: 34px; }
#general-conditions-summary { color: #FFFFFF; float: right; display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: flex-start; justify-content: flex-start; -webkit-align-items: flex-start; align-items: flex-start; }
.general-conditions-item { margin-top: 18px; }
.general-conditions-icon { display: inline-block; }
.general-conditions-text { display: inline-block; margin-left: 7px; margin-right: 25px;}
.frontpage-section { margin-left: 25px; margin-right: 25px; clear: both; }
.viewer-links { line-height: 2.5; font-family: Arial, Helvetica, sans-serif; font-size: 12px; border-spacing: 20px 0px; border-collapse: separate; }

/* Design elements management dashboard */
#page-container-man { max-width: 1600px; min-height: 580px; margin-left: auto; margin-right: auto; background-image:url(../custom-images/book-background.png); background-color: #292929; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; overflow: hidden; }
/* #page-container-man a { color: #3399cc; text-decoration: none; } */
#logo-man { float: left; margin-left: 20px; margin-right: 20px; margin-top: 20px; margin-bottom: 20px; }
#login-man { float: right; }
#menu-left-man { float: left; width: 12%; clear: both; min-width: 150px; }
#content-container-man { float: left; width: 88%; }
#menu-top-man {}
#man-content {}
#man-content table { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; }
#menu-level-1 { margin-left: 10px; margin-right: 10px; }
.man-block { background-color: rgba(0, 0, 0, 0.13); border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; box-shadow: rgba(0, 198, 255, 0.65) 0px 0px 2px 0px; letter-spacing: 0.25px; padding: 10px; margin: 5px; }
.man-block2 { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; box-shadow: rgba(0, 198, 255, 0.65) 0px 0px 2px 0px; letter-spacing: 0.25px; padding: 10px; margin: 5px; float: left; }
.man-block2-noshadow { border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; letter-spacing: 0.25px; padding: 10px; margin: 5px; float: left; }
.man-block2 h1 { margin-top: 0px } 
.man-block2-noshadow h1 { margin-top: 0px } 
.stock-ok { color: rgba(8, 255, 0, 0.52); }
.stock-low { color: rgba(255, 0, 0, 0.73); }

/* External elements */
.youtube-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }
.youtube-container iframe, .youtube-container object, .youtube-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* Twitter plugin */
#twitter { width:400px; float:right; height:111px; background:url(../custom-images/twitter-cloud.png) no-repeat; margin-top:30px; margin-right:20px; padding-left:45px; }
#twitter a { color:#EEEEEE; text-decoration:none; border-bottom:1px dotted #EEEEEE; }
#tweet { font-size:14px; color:#FFF; width:380px; font-family:Arial, Helvetica, sans-serif; }
.home-tweets-ul { list-style:none; }
.home-tweet-date { margin-top: -7px; }
.home-tweet-date a { border:none; color:#0CF; font-style:italic; }

/* Divs */
.flex-container { clear: both; display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: space-around; justify-content: space-around; -webkit-align-items: flex-start; align-items: flex-start; }
.wide-and-center { text-align: center; }
.wide-and-center input { padding-left: 25px; padding-right: 25px; }
#login-container { width: 250px; margin-bottom: 20px; }
#registration-container { width: 290px; }
#my-account-link { background: rgba(0, 0, 0, 0.45); position: absolute; left: 0; top: 0; width: 100%; text-align: right; }

/* Spans */
.in-breakable-line { font-size: 22px; background-image:url(../custom-images/book-background.png); padding: 0 12px; }

/* Tables */
.table-orders { background-color: #FF0000 }

/* Forms */
#mlogin-form { margin-bottom: 6px; }
.form-element { display: flex; }
.h26 { height: 26px !important; }
.h30 { height: 30px !important; }
.w-auto { width: auto !important; }
.w100 { width: 100px; }
.w150 { width: 150px; }
.form-control[disabled] { background-color: #BFBFBF !important; }
#link-order-form .form-label { height: 26px; }
#link-order-form .form-text { height: 26px; }
#link-order-form .form-submit { height: 26px; font-size: 12px; padding: 3px 8px; }
/* TODO Temp fix for step2 form, check if needed in live environment */
#customerInformationForm .form-text { height: 26px; }

/* Buttons */
.cta-course {margin-right: 10px; margin-bottom: 2px; margin-top: 0px; margin-left: -2px; }
.cta-course-bottom { clear: left; margin-top: 1px; }
.cta-course-bottom input { float: right; max-width: 100%; height: auto; }
.cta-course-bottom a { float: right; }
.icon-button { padding: 1px 1px !important; line-height: 0 !important; }
.v-stack { margin-bottom: 5px !important; clear: left; float: left; }
.h-stack { margin-left: 5px; }
.content-area .btn-social { color: #FFFFFF; margin-bottom: 10px }
.button-exov1 { margin: 10px 20px 10px 0px; padding: 6px 12px; background: #3399cc; color: #FFFFFF; font-size: 14px; font-weight: normal; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;  user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; }
.button-exov1:hover { background: #FFFFFF; color: #3399cc; }
.button-close { float: right; font-size: 23px; font-weight: bold; line-height: 1; color: #1F1F1F; text-decoration: none; margin-top: 15px; margin-right: 10px; }
.button-close:hover { color: #3399cc; }

/* Text-Colors */
.grey { color:#9E9E9E; }

/* Freely insertable image divs */
.horizontal-divider-line-1 { background-image: url(../custom-images/line-horizontal-1.png); margin-top:15px; width: 270px; height: 1px; }
.horizontal-divider-line-2 { background-image: url(../custom-images/line-horizontal-2.png); margin-top:15px; width: 845px; height: 1px; }
.breakable-line { width: 95%; height: 20px; border-bottom: 1px solid #FBFBFB; text-align: center; margin-left: auto; margin-right: auto; }
.alert-fit { float: left; width: 97%; margin-left: 5px; }
#order-process-image { background:url(../custom-images/order-process.png); width: 228px; height: 555px; margin-left: 25px; margin-top: 10px; }
#scroll-image { background:url(../custom-images/scroll.png); width: 122px; height: 140px; margin-left: 85px; margin-top: 10px; }
#order-progress-bar-number-1-state-0 { background:url(../custom-images/number-1-state0.png); width: 18px; height: 22px; }
#order-progress-bar-number-1-state-1 { background:url(../custom-images/number-1-state1.png); width: 18px; height: 22px; }
#order-progress-bar-number-2-state-0 { background:url(../custom-images/number-2-state0.png); width: 22px; height: 22px; }
#order-progress-bar-number-2-state-1 { background:url(../custom-images/number-2-state1.png); width: 22px; height: 22px; }
#order-progress-bar-number-3-state-0 { background:url(../custom-images/number-3-state0.png); width: 21px; height: 22px; }
#order-progress-bar-number-3-state-1 { background:url(../custom-images/number-3-state1.png); width: 21px; height: 22px; }
#order-progress-bar-number-4-state-0 { background:url(../custom-images/number-4-state0.png); width: 23px; height: 23px; }
#order-progress-bar-number-4-state-1 { background:url(../custom-images/number-4-state1.png); width: 23px; height: 23px; }

/* Blog */
#blog { margin-left: 25px; margin-right: 25px; clear: both; }
.blog-item { padding: 10px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 1.6; color: #FFFFFF; }
.blog-item a { color: #3399cc; text-decoration: none; }
.blog-item img { padding: 5px; }
.blog-info-header { color: #A6A6A6; }
.blog-info-footer { font-style: italic; color: #A6A6A6; }
.blog-title { color: #FFFFFF !important;  }

/* Partners */
.partner-container { clear: both; display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: space-between; justify-content: space-between; -webkit-align-items: flex-start; align-items: flex-start; }
.partner-item { max-width: 370px; float: left; margin-top: 25px; margin-bottom: 30px; padding-left: 10px;  padding-right: 10px; }
.partner-item h2 { font-size: 16px; }
.partner-title { float: left; margin-bottom: 10px; }
.partner-logo { float: right; max-width: 150px; height: 61px; }
.partner-content { float: left; clear: both; }

/* Text and headers */
.h1-sm { font-size: 22px; text-align: center; line-height: 1.2; } 
.h1-homepage { font-family: Arial, Helvetica, sans-serif; line-height: 1.6; color: #FFFFFF; }
h2{ margin-top: 0px; margin-bottom: -5px; font-size:14px; font-style:italic; }
.h2-homepage { margin-top: 0px; margin-bottom: -5px; font-size: 20px; font-style: normal; font-weight: bold; font-family: Arial, Helvetica, sans-serif; line-height: 1.6; color: #FFFFFF;}
.h2-paper { font-size: 15px; font-style: normal; color: #3399cc; } 
.h3-homepage { margin-bottom: -6px; font-size: 14px; }
.practice-exam-content h2 { font-size: 18px; font-family: "Courier New", Courier, monospace; color: #999999; margin-bottom: 15px; }
.paper-error { color: #E40000; font-weight: bold; margin-left: 160px; }
.paper-error-2 { color: #E40000; font-weight: bold; }
.fa-clock-o:hover { color: #3399cc; }
.fa-graduation-cap:hover { color: #3399cc; }
.fa-trophy:hover { color: #3399cc; }
.negative { color: #CE3E3E; }
.attention { color: #ECB347; }
.positive { color: #8FCE3E; }

/* Images */ 
.lightbox-container { margin-top: 10px; margin-left: 6px; margin-right: 6px; margin-bottom: 50px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; }
.lightbox-container-alt { margin-top: 10px; margin-left: 6px; margin-right: 6px; margin-bottom: 50px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; border: 1px solid #7C7C7C; -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25); box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25); -pie-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); background-color: #343434;}
.lightbox-header { clear: both; float: left; width: 100%; text-align: center; margin-top: 15px; margin-bottom: 15px; }
.lightbox-set { clear: both; display: -webkit-flex; display: flex; -webkit-flex-direction: row; flex-direction: row; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center; }
.lightbox-image-link { display: inline-block; padding: 1px; margin: 0 0.5rem 1rem 0.5rem; background-color: #FFFFFF; line-height: 0; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; -webkit-transition: background-color 0.5s ease-out; -moz-transition: background-color 0.5s ease-out; -o-transition: background-color 0.5s ease-out; transition: background-color 0.5s ease-out }
.lightbox-image-link:hover { background-color: #3399cc; -webkit-transition: background-color 0; -moz-transition: background-color 0; -o-transition: background-color 0; transition: background-color 0; }
.lightbox-thumb { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
#product-images-mobile { display: none; }
 
/* Responsive design */

/* Mobile responsive menu */
.mobile-menu { /* background: rgba(0, 173, 255, 0.16); */ background: rgb(8, 8, 8); display: none; font-size: 18px; line-height: 2; padding-left: 0px; }
.mobile-menu-header { color: #ffffff; font-size: 18px; padding-left: 25px; }
.mobile-menu ul { -webkit-padding-start: 25px; }
.responsive-nav-icon::before, .responsive-nav-close::before { color: #3399cc; content: "\f0c9"; font-family: FontAwesome; font-size: 22px; position: relative; }
.responsive-nav-close::before { color: #3399cc; content: "\f00d"; font-size: 18px; }
.responsive-nav-icon { background: #fff; line-height: normal; padding: 5px 8px 4px; top: 5%; left: 5%; }
.responsive-nav-icon:hover, .responsive-nav-close:hover { opacity: .7; }
.responsive-nav-close { position: absolute; top: 18px; right: 18px; }
.responsive-nav-icon, .responsive-nav-close { cursor: pointer; display: none; }
#overlay { background: 0 0 rgba(0, 0, 0, 0.8); display: none; height: 100%; position: fixed; top: 0; left: 0; -moz-transition: all 0.2s linear 0s; -webkit-transition: all 0.2s linear 0s; -ms-transition: all 0.2s linear 0s; transition: all 0.2s linear 0s; width: 100%;  z-index: 90; }


@media all and (max-width: 985px) {
    #page-container { width: 100%; }
    #book-right { display: none; }
    #book-left-inner { display: none; }
    .horizontal-divider-line-2 { width: 100%; }
    .value-statement-block { width: 33%; margin-left: 0px; margin-right: 0px; }
    #twitter { display: none; }
    #pen { display: none; }
    #logo-course { margin-bottom: 0px; }
    #logo-course-parent { float: left; clear: both; margin-left: 20px; margin-top: 0px;}
    #level-switch-menu { display: none; }
}

@media all and (max-width: 950px) {
    #course-page-left { display: none; }
    #account-page-left { display: none; }
    #page-content-container { width: auto; margin-right: 20px; }
    #page-content-top { height: auto; }
    #product-images-mobile { display: block; }
    #payment-logos { margin-left: 0px; display: block; margin-top: 20px; }
    .mobile-menu { display: block; }
    .mobile-clear-left { clear: left; }
    
    /* Mobile responsive menu */
    .responsive-nav-icon, .responsive-nav-close { display: block; z-index: 1; float: right; }
    nav { height: 100%; padding: 20px; position: fixed; top: 0; left: -400px; -moz-transition: all 0.2s linear 0s; -webkit-transition: all 0.2s linear 0s; -ms-transition: all 0.2s linear 0s; transition: all 0.2s linear 0s; width: 0; }
    nav.slide-in { left: 0; overflow-y: scroll; width: 240px; z-index: 100; }
    nav .menu-item { display: block; }
}

@media all and (max-width: 850px) {
    #general-conditions-summary { float: left; clear: both; }
}

@media all and (max-width: 785px) {
    #page-switch-menu-container { float: left; clear: both; width: 100%; height: auto; margin-right: 0px; background: none; }
    #page-switch-menu-left { display: none; }
    #page-switch-menu-inner { display: block; float: none; margin-top: 0px; margin-left: 20px; margin-right: 20px; }
    #page-switch-menu-right { display: none; }
    .page-switch-menu-item { display: block; float: none; margin-left: 0px; margin-right: 0px; margin-bottom: 1px; padding: 10px; background: #3399cc; border: 1px solid #0F3342; border-radius: 5px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); }
    .page-switch-menu-seperator { display: none; }
    #order-progress-bar { margin-bottom: 15px; padding-left: 23px; }
    .order-progress-bar-section { clear: both; width: 100% !important; margin-bottom: 12px; }
}

@media all and (max-width: 672px) {
    /* My account login screen */
    #registration-container { border-top: 2px solid #FBFBFB; }
}

@media all and (max-width: 642px) {
    #value-statement-header { margin-bottom: 15px; }
    .value-statement-block { width: 100%; margin-left: 0px; text-align: left; }
    .value-statement-icon { float: left; margin-left: 8px; font-size: 11px; }
    .value-statement-text { float: left; margin-left: 7px; }
}

@media all and (max-width: 600px) {
    #customerInformationForm { margin-left: -8px; margin-right: -8px; }
    #customerInformationForm .form-label { width: 70px; }
    #customerInformationForm .form-text { width: 56%; }
    #terms { margin-left: 0px; }
    #terms-label { font-size: 11px; }
    #terms-error { font-size: 11px; margin-top: -4px; }
    #paper-error { margin-left: 2px; }
}

@media all and (max-width: 450px) { 
    body { margin-left: 0px; }
    #page-container-man { margin-left: 8px; }
    #page-content-container { margin-left: 10px; margin-right: 10px}
    .product-list-item { margin-right: 5px; font-size: 10px; }
    .product-list-price { margin-right: -2px; font-size: 10px; }
    .product-checkbox { margin-right: 5px; margin-left: -12px; }
}

/* Image-gallery */
#image-gallery { padding-bottom: 25px; } 
/* jssor slider arrow navigator skin 05 css */
/*
.jssora05l                  (normal)
.jssora05r                  (normal)
.jssora05l:hover            (normal mouseover)
.jssora05r:hover            (normal mouseover)
.jssora05l.jssora05ldn      (mousedown)
.jssora05r.jssora05rdn      (mousedown)
*/
.jssora05l, .jssora05r { display: block; position: absolute; width: 40px; height: 40px; cursor: pointer; background: url(../custom-images/image-gallery/resources/a17.png) no-repeat; overflow: hidden; }
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05l.jssora05ldn { background-position: -250px -40px; }
.jssora05r.jssora05rdn { background-position: -310px -40px; }

/* jssor slider thumbnail navigator skin 02 css */
/*
.jssort02 .p            (normal)
.jssort02 .p:hover      (normal mouseover)
.jssort02 .p.pav        (active)
.jssort02 .p.pdn        (mousedown)
*/
.jssort02 { position: absolute; /* size of thumbnail navigator container */ width: 200px; height: 400px;}
.jssort02 .p { position: absolute; top: 0; left: 0; width: 72px; height: 100px; }
.jssort02 .t { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; }
.jssort02 .w { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; }
.jssort02 .c { position: absolute; top: 0px; left: 0px; width: 68px; height: 96px; border: #000 2px solid; box-sizing: content-box; background: url(../custom-images/image-gallery/resources/t01.png) -800px -800px no-repeat; _background: none; }
.jssort02 .pav .c { top: 2px; _top: 0px; left: 2px; _left: 0px; width: 68px; height: 96px; border: #000 0px solid; _border: #fff 2px solid; background-position: 50% 50%; }
.jssort02 .p:hover .c { top: 0px; left: 0px; width: 70px; height: 98px; border: #fff 1px solid; background-position: 50% 50%; }
.jssort02 .p.pdn .c { background-position: 50% 50%; width: 68px; height: 96px; border: #000 2px solid; } 
* html .jssort02 .c, * html .jssort02 .pdn .c, * html .jssort02 .pav .c { /* ie quirks mode adjust */ width /**/: 72px; height /**/: 100px; }