<?php
/* @var $block \Magento\Theme\Block\Html\Pager */
?>
<?php if ($block->getCollection()->getSize()): ?>
    <?php if ($block->getLastPageNum() > 1): ?>
        <?php if (!$block->isFirstPage()): ?>
            <a href="<?php echo $block->getPreviousPageUrl() ?>" class="aw-blog-pagination__item"><?php echo __('Previous Page') ?></a>
        <?php endif; ?>
        <?php if ($block->canShowFirst()): ?>
            <a href="<?php echo $block->getFirstPageUrl() ?>" class="aw-blog-pagination__item aw-blog-pagination__page">1</a>
        <?php endif; ?>
        <?php if ($block->canShowPreviousJump()): ?>
            <span class="aw-blog-pagination__item">...</span>
        <?php endif; ?>
        <?php foreach ($block->getFramePages() as $page): ?>
            <?php if ($block->isPageCurrent($page)): ?>
                <span class="aw-blog-pagination__item aw-blog-pagination__page alink aw-blog-pagination__page--current"><?php echo $page ?></span>
            <?php else: ?>
                <a href="<?php echo $block->getPageUrl($page) ?>" class="aw-blog-pagination__item aw-blog-pagination__page"><?php echo $page ?></a>
            <?php endif; ?>
        <?php endforeach; ?>
        <?php if ($block->canShowNextJump()): ?>
            <span class="aw-blog-pagination__item">...</span>
        <?php endif; ?>
        <?php if ($block->canShowLast()): ?>
            <a href="<?php echo $block->getLastPageUrl() ?>" class="aw-blog-pagination__item aw-blog-pagination__page"><?php echo $block->getLastPageNum() ?></a>
        <?php endif; ?>
        <?php if (!$block->isLastPage()): ?>
            <a href="<?php echo $block->getNextPageUrl() ?>" class="aw-blog-pagination__item"><?php echo __('Next Page') ?></a>
        <?php endif; ?>
    <?php endif; ?>
<?php endif ?>
